node_modules/
data/*
!data/*.example.json
utils/processors
utils/tools
utils/triggers
memory.md
resources/simple
memory.db
*.db
data/presets.json
vue-frontend/dist/
vue-frontend/node_modules/
!resources/web/
config/config.yaml
temp/